# Tổng quan đề tài

Bạn nhận được Cơ sở dữ liệu bóng đá châu Âu có hơn 25.000 trận đấu và hơn 10.000 cầu thủ cho các mùa bóng đá chuyên nghiệp châu Âu từ 2008 đến 2016. Mục tiêu là bạn xem qua cơ sở dữ liệu này và thực hiện phân tích, bao gồm một số bước khám phá dữ liệu, thống kê cơ bản và sau đó bạn hình dung kết quả. Để hoàn thành tất cả các bước, bạn cần truy vấn dữ liệu trong cơ sở dữ liệu bằng cách sử dụng câu lệnh SQL. Đề tài này thực hành bạn viết lệnh SQL để kéo dữ liệu về và trích xuất nó.

Tải dữ liệu bóng đá Châu Âu tại đây

# Mô tả dữ liệu

Cơ sở dữ liệu bóng đá châu Âu này có hơn 25.000 trận đấu và hơn 10.000 cầu thủ cho các mùa bóng đá chuyên nghiệp châu Âu từ 2008 đến 2016, 11 quốc gia châu Âu với chức vô địch dẫn đầu. Các thuộc tính của Người chơi và Đội có nguồn gốc từ loạt trò chơi video FIFA của EA Sports, bao gồm các bản cập nhật hàng tuần.

<table style="width: 100%;">
<tbody>
<tr>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">Table</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">Total Rows</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">Total Columns</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">Columns</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">Country</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">11</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">2</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">id, name</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">League</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">11</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">3</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">id, country_id, name</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">Match</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">25979</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">115</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">id, country_id, league_id, season, stage, date, match_api_id, home_team_api_id, away_team_api_id, home_team_goal, away_team_goal, home_player_X1, home_player_X2, home_player_X3, home_player_X4, home_player_X5, home_player_X6, home_player_X7, home_player_X8, home_player_X9, home_player_X10, home_player_X11, away_player_X1, away_player_X2, away_player_X3, away_player_X4, away_player_X5, away_player_X6, away_player_X7, away_player_X8, away_player_X9, away_player_X10, away_player_X11, home_player_Y1, home_player_Y2, home_player_Y3, home_player_Y4, home_player_Y5, home_player_Y6, home_player_Y7, home_player_Y8, home_player_Y9, home_player_Y10, home_player_Y11, away_player_Y1, away_player_Y2, away_player_Y3, away_player_Y4, away_player_Y5, away_player_Y6, away_player_Y7, away_player_Y8, away_player_Y9, away_player_Y10, away_player_Y11, home_player_1, home_player_2, home_player_3, home_player_4, home_player_5, home_player_6, home_player_7, home_player_8, home_player_9, home_player_10, home_player_11, away_player_1, away_player_2, away_player_3, away_player_4, away_player_5, away_player_6, away_player_7, away_player_8, away_player_9, away_player_10, away_player_11, goal, shoton, shotoff, foulcommit, card, cross, corner, possession, B365H, B365D, B365A, BWH, BWD, BWA, IWH, IWD, IWA, LBH, LBD, LBA, PSH, PSD, PSA, WHH, WHD, WHA, SJH, SJD, SJA, VCH, VCD, VCA, GBH, GBD, GBA, BSH, BSD, BSA</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">Player</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">11060</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">7</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">id, player_api_id, player_name, player_fifa_api_id, birthday, height, weight</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">Player_Attributes</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">183978</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">42</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">id, player_fifa_api_id, player_api_id, date, overall_rating, potential, preferred_foot, attacking_work_rate, defensive_work_rate, crossing, finishing, heading_accuracy,

# Gọi thư viện Python

In [2]:
#Import libraries
import numpy as np
import pandas as pd
import sqlite3
from datetime import timedelta
import warnings
warnings.filterwarnings("ignore")
pd.set_option("display.max_columns", 100)

## Câu hỏi 1: Kết nối tới cơ sở dữ liệu và truy vấn thông tin của tất cả các bảng

Đọc https://docs.python.org/2/library/sqlite3.html

Học viên chỉ sử dụng câu lệnh SQL để truy vấn kế quả, không được sử dụng câu lệnh Pandas để tính toán ra kết quả.

In [4]:
# Kết nối với cơ sở dữ liệu
# ĐIỀN CODE VÀO ĐÂY
conn = sqlite3.connect('/Users/vananh/Downloads/Data 2/database.sqlite')

# Lấy thông tin của tất cả bảng
tables = pd.read_sql("""SELECT *
                        FROM sqlite_master
                        WHERE type='table';""", conn)
tables

,type,name,tbl_name,rootpage,sql
0,table,sqlite_sequence,sqlite_sequence,4,"CREATE TABLE sqlite_sequence(name,seq)"
1,table,Player_Attributes,Player_Attributes,11,"CREATE TABLE ""Player_Attributes"" (\n\t`id`\tIN..."
2,table,Player,Player,14,CREATE TABLE `Player` (\n\t`id`\tINTEGER PRIMA...
3,table,Match,Match,18,CREATE TABLE `Match` (\n\t`id`\tINTEGER PRIMAR...
4,table,League,League,24,CREATE TABLE `League` (\n\t`id`\tINTEGER PRIMA...
5,table,Country,Country,26,CREATE TABLE `Country` (\n\t`id`\tINTEGER PRIM...
6,table,Team,Team,29,"CREATE TABLE ""Team"" (\n\t`id`\tINTEGER PRIMARY..."
7,table,Team_Attributes,Team_Attributes,2,CREATE TABLE `Team_Attributes` (\n\t`id`\tINTE...

## Câu hỏi 2: Liệt kê các quốc gia có trong dữ liệu bảng "Country"

In [12]:
# ĐIỀN CODE VÀO ĐÂY

result = pd.read_sql("SELECT * FROM Country", conn)
result

       id         name
0       1      Belgium
1    1729      England
2    4769       France
3    7809      Germany
4   10257        Italy
5   13274  Netherlands
6   15722       Poland
7   17642     Portugal
8   19694     Scotland
9   21518        Spain
10  24558  Switzerland

## Câu hỏi 3: Liệt kê các giải đấu trong bảng "League"

In [13]:
# ĐIỀN CODE VÀO ĐÂY
name_of_league = pd.read_sql("SELECT name FROM League", conn)
name_of_league

                        name
0     Belgium Jupiler League
1     England Premier League
2             France Ligue 1
3      Germany 1. Bundesliga
4              Italy Serie A
5     Netherlands Eredivisie
6         Poland Ekstraklasa
7   Portugal Liga ZON Sagres
8    Scotland Premier League
9            Spain LIGA BBVA
10  Switzerland Super League

## Câu hỏi 4: Liệt kê các giải đấu và thông tin quốc gia của từng league

Bảng League có quan hệ với bảng Country qua khóa country_id.

In [15]:
# ĐIỀN CODE VÀO ĐÂY
sql_query2  = """
        SELECT c.name as 'Country', l.name as 'League Name'
        FROM Country c
        LEFT JOIN League l ON c.id = l.id
"""
name_of_league = pd.read_sql(sql_query2, conn)
name_of_league

        Country               League Name
0       Belgium    Belgium Jupiler League
1       England    England Premier League
2        France            France Ligue 1
3       Germany     Germany 1. Bundesliga
4         Italy             Italy Serie A
5   Netherlands    Netherlands Eredivisie
6        Poland        Poland Ekstraklasa
7      Portugal  Portugal Liga ZON Sagres
8      Scotland   Scotland Premier League
9         Spain           Spain LIGA BBVA
10  Switzerland  Switzerland Super League

## Câu hỏi 5: Liệt kê các trận đấu trong bảng  “Match”
- Khi một đội là chủ nhà, đội đó là "home team". Đội còn lại là "away team"
- Trong bảng Match, mỗi dòng dư liệu là một trận đấu của một đội chủ nhà và đội khách, tương ứng với kết quả ghi bàn đội nhà (home goal) và đội khách (away goal).

In [ ]:
# ĐIỀN CODE VÀO ĐÂY
sql_query5 = """
   SELECT 
"""

## Câu hỏi 6: Liệt kê các trận đấu và thông tin về leage và country tương ứng

Bảng Match có quan hệ với :
 - Bảng Country thông qua khóa country_id
 - Bảng League thông qua khóa League_id

Sử dụng câu lệnh join để kết nối dư liệu từ 3 bảng trên.

In [6]:
# ĐIỀN CODE VÀO ĐÂY
sql_query6 = """
   SELECT m.league_id, m.season,c.name as 'Country name',l.name as 'League name'
   FROM match m
   LEFT JOIN Country c ON c.id = m.country_id
   left join league l on l.id = m.league_id 
"""
league_list = pd.read_sql(sql_query6, conn)
league_list

       league_id     season Country name               League name
0              1  2008/2009      Belgium    Belgium Jupiler League
1              1  2008/2009      Belgium    Belgium Jupiler League
2              1  2008/2009      Belgium    Belgium Jupiler League
3              1  2008/2009      Belgium    Belgium Jupiler League
4              1  2008/2009      Belgium    Belgium Jupiler League
...          ...        ...          ...                       ...
25974      24558  2015/2016  Switzerland  Switzerland Super League
25975      24558  2015/2016  Switzerland  Switzerland Super League
25976      24558  2015/2016  Switzerland  Switzerland Super League
25977      24558  2015/2016  Switzerland  Switzerland Super League
25978      24558  2015/2016  Switzerland  Switzerland Super League

[25979 rows x 4 columns]

## Câu hỏi 7: Liệt kê số lượng trận đấu của mỗi giải đấu bao gồm cả tên giải đấu, sắp xếp theo thứ tự giảm dần số trận đấu

In [ ]:
# ĐIỀN CODE VÀO ĐÂY
sql_query7 = """
   SELECT m.league_id, m.season,c.name as 'Country name',l.name as 'League name'
   FROM match m
   LEFT JOIN Country c ON c.id = m.country_id
   left join league l on l.id = m.league_id 
"""
league_list = pd.read_sql(sql_query6, conn)
league_list

## Câu hỏi 8: Liệt kê tổng số bàn thắng của đội nhà và đội khách trong mỗi giải đấu
- Sử dụng câu lệnh Group By

In [ ]:
# ĐIỀN CODE VÀO ĐÂY

## Câu hỏi 9: Liệt kê thông tin các đội từ bảng “Team”

In [ ]:
# ĐIỀN CODE VÀO ĐÂY

## Câu hỏi 10: Liệt kê 20 đội với số bàn thắng sân nhà cao nhất
- Sử dung câu lênh GROUP BY, LIMIT

In [ ]:
# ĐIỀN CODE VÀO ĐÂY

## Câu hỏi 11: Liệt kê 20 đội có số bàn thắng trên sân khách cao nhất
- Sử dụng câu lênh GROUP BY, LIMIT

In [ ]:
# ĐIỀN CODE VÀO ĐÂY

## Câu hỏi 12: Liệt kê tên các đội bóng và tổng số bàn thắng mỗi đội, sắp xếp  theo số lượng giảm dần

- Tổng số bàn thắng của một đội bao gồm cả số bàn thắng ở sân nhà và sân khách.
- Sử dụng câu lệnh Union

In [ ]:
# ĐIỀN CODE VÀO ĐÂY

## Câu hỏi 13: Liệt kê tên các đội bóng (long name) và tổng số trận đấu đội đó tham gia, sắp xếp theo thứ tự giảm dần.

In [ ]:
# ĐIỀN CODE VÀO ĐÂY

## Câu hỏi 14: Liệt kê số trận thắng, thua và hòa của mỗi đội.

- Nếu một đội có số lượng bàn thắng trên sân nhà > số lượng bàn thắng trên sân khách của chính đội đó, thì đội đó sẽ "thắng" trong trận đấu này
- Nếu một đội có số lượng bàn thắng trên sân nhà < số lượng bàn thắng trên sân khách của chính đội đó, thì đội đó sẽ "thua" trong trận đấu này
- Nếu một đội có số lượng bàn thắng trên sân nhà = số lượng bàn thắng trên sân khách của chính đội đó, thì đội đó sẽ "hòa" trong trận đấu này
- Sử dụng câu lệnh "Case When"

In [ ]:
# ĐIỀN CODE VÀO ĐÂY

## Câu hỏi 15: Liệt kê 10 đội có số trận thắng nhiều nhất

In [ ]:
# ĐIỀN CODE VÀO ĐÂY

## Câu hỏi 16: Liệt kê tỉ lệ phần trăm về số trận của mỗi giải trên tổng tất cả các trận

In [ ]:
# ĐIỀN CODE VÀO ĐÂY

## Câu hỏi 17: Liệt kê tỉ lệ phần trăm về số bàn ghi được của từng giải so với tổng số bàn của tất cả các trận.

In [ ]:
# ĐIỀN CODE VÀO ĐÂY

## Câu hỏi 18: Liệt kê tổng số bàn ghi được của từng giải đấu theo từng mùa giải.

In [ ]:
# ĐIỀN CODE VÀO ĐÂY

## Câu hỏi 19: Liệt kê thông tin cầu thủ:

- Quy đổi cân nặng sang kilogram
- Quy đổi chiều cao sang mét
- Tính chỉ số bmi = ( (weight* 0.453592) / (height/100)^2)
- Tính tuổi của cầu thủ

In [ ]:
# ĐIỀN CODE VÀO ĐÂY

## Câu hỏi 20: Liệt kê cầu thủ lớn tuổi nhất

In [ ]:
# ĐIỀN CODE VÀO ĐÂY

## Câu hỏi 21: Liệt kê  cầu thủ có số trận đấu nhiều nhất

In [ ]:
# ĐIỀN CODE VÀO ĐÂY

## Câu hỏi 22: Liệt kê các cầu thủ có tổng số điểm đánh giá lớn hơn 80

In [ ]:
# ĐIỀN CODE VÀO ĐÂY